<div class="row">
  <div class="col-xs-12">
    <p>Add New Activities or Ideas</p>
    <label>Activity Name</label>
    <input type="text" class="form-control" [(ngModel)]="newActivityName">
    <label>Activity Content</label>
    <input type="text" class="form-control" [(ngModel)]="newActivityContent">
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddActivity()">Add Activity</button>
      <button
      class="btn btn-primary"
      (click)="onAddIdea()">Add Activity Idea</button>
  </div>
</div>
