<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
          id="name"
          class="form-control"
          name="name"
          ngModel
          required>
          </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input type="number"
          id="amount"
          class="form-control"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="delete" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="submit" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>




<!-- <div class="card mt-3 box">
  <p class="text-center">shopping list edit</p>
</div> -->

<!-- This is how this looked prior to learning forms. I will update along with Max using template driven approach:
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
          id="name"
          class="form-control"
          #nameInput>
          </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input type="number"
          id="amount"
          class="form-control"
          #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
          <button class="btn btn-danger" type="delete">Delete</button>
          <button class="btn btn-primary" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div> -->
