<h1>My Movies</h1>

<h3>Add Movies</h3>


  <form>
    <div class="container">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" ngModel>

      <label for="genre">Genre</label>
      <input type="text" class="form-control" name="genre" id="genre" ngmodel >
    </div>

  </form>

  <button class="btn btn-danger" class="submit">Create Movie</button>



<!-- Create a form with inputs and labels corresponding to title and genre. Include a button with content 'create Movie'
Configure the form in the template-driven approach or the reactive approach
Note: Make sure you add the proper modules to your app module.
FormsModule (Template-driven)
ReactiveFormsModule (Reactive)
Create a post request that allows you to add an object with properties title and genre using the firebase project you created from the start
Ensure you Inject the HttpClient to your component AND import the HttpClientModule to your app module. Include HttpClientModule to your imports array. -->
