<!-- <div class="card mt-3 box">
  <p class="text-center">recipe item</p>
</div> -->

<a class="list-group-item clearfix"
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active">
<div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <img src="{{ recipe.imagePath }}"
    alt="{{ recipe.name }}"
    class="image-responsive"
    style="max-height: 50px;">
  </span>
</a>

<!-- This is how this looked before routing:

<a class="list-group-item clearfix"
style="cursor: pointer;"
(click)="onSelected()" >
//recipe here is a local variable that can be used just in this block of code that is effected by the ngFor loop
<div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <img src="{{ recipe.imagePath }}"
    alt="{{ recipe.name }}"
    class="image-responsive"
    style="max-height: 50px;">
  </span>
</a>
 -->
