<div class="container">

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default"
        *ngFor="let element of activityElements">
        <div class="panel-heading">{{activity.name}}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type=== 'activity'" style="color: red">{{element.content}}
            </strong>
            <em *ngIf="element.type === 'idea'">{{element.content}}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
